<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">


  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a role="button" class="menu-icon nav-link" (click)="toggleSidebar()"><fa-icon [icon]="faBars" ></fa-icon></a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand nav-link">NgFireWebTutorials</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link nav-text-link" [routerLink]="['/auth/sign-in']" *ngIf="!authService.isLoggedIn">Log In</a>
        <a class="nav-link nav-text-link" (click)="authService.signOut()" *ngIf="authService.isLoggedIn">Log Out</a>
    </li>
  </ul>
</nav>