<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign Up</h3>
      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
      </div>
      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPwd required>
      </div>
      <div class="formGroup">
        <button class="btn btn-primary" (click)="authService.signUp(userEmail.value, userPwd.value)">Sign up</button>
      </div>
      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.googleAuth()">
          <fa-icon [icon]="faGooglePlusG"></fa-icon>
          Continue with Google
        </button>
      </div>
      <div class="formGroup">
        <button type="button" class="btn facebookBtn" (click)="authService.facebookAuth()">
          <fa-icon [icon]="faFacebook"></fa-icon>
          Continue with Facebook
        </button>
      </div>
      <div class="forgotPassword">
        <span routerLink="/auth/forgot-password">Forgot password?</span>
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Already have an account?<span class="redirect" routerLink="/auth/sign-in"> Sign In</span></span>
    </div>
  </div>
</div>