<div class="container-fluid">
  <div class="auth-block">
    <h3>Sign Up</h3>
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Email Address" #userEmail required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" #userPwd required>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="authService.signUp(userEmail.value, userPwd.value)">Sign up</button>
    </div>
    <div class="form-group">
      <span class="or"><span class="orInner">Or</span></span>
    </div>
    <div class="form-group">
      <button type="button" class="btn google-btn" (click)="authService.googleAuth()">
        <fa-icon [icon]="faGooglePlusG"></fa-icon>Continue with Google
      </button>
    </div>
    <div class="form-group">
      <button type="button" class="btn facebook-btn" (click)="authService.facebookAuth()">
        <fa-icon [icon]="faFacebook"></fa-icon>Continue with Facebook
      </button>
    </div>
    <div class="forgot-password">
      <span routerLink="/auth/forgot-password">Forgot password?</span>
    </div>
  </div>
  <div class="login-redirect">
    <span>Already have an account?<span class="redirect" routerLink="/auth/sign-in">Sign In</span></span>
  </div>
</div>